# frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env.local

#excluding important things from pushing to the github
.env
node_modules/
.DS_Store  # For Mac users,(this is optional for it )
build/  # (for React build folders)


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
/node_modules
.env